

#graph {
    border :1px solid #000;
    height : 500px;
    /*width : 100%;*/
}

.test{
    color: #83838d;
}

.runtime{
    color: rgb(128,128,128);
}

.error{
    color :red;
}

.animateable{
    cursor: pointer;
    font-weight : bold;
}

.animateable:hover{
    
}
