body {
    background: #fff;
    padding : 0;
    margin: 0;
    font-family: Arial, "MS Trebuchet", sans-serif;
}

input {
    border: 1px solid #191970;
    padding : 3px;
}
button {
    border: 1px solid #191970;
    cursor: pointer;
    padding : 3px;
}
label[for]{
    cursor: pointer;
}
h3{
    padding:0px;
    margin: 0px;
}

/*ul ul { font-size:95%; }*/

#viewport{
    padding:5px 5px 0px 10px;
    overflow: auto;
    margin-bottom:10px;
}

.test{
    color: #83838d;
}

.runtime{
    color: rgb(128,128,128);
}

.error{
    color :red;
}

.animateable{
    cursor: pointer;
    font-weight : bold;
}

.animateable:hover{
    
}

#viewport li + ul {
    border-left : 1px dotted #000;
}

#viewport > ul {
    margin-top : 5px;
    border-left : 1px dotted #000;
}

#viewport li span {
    display : none;
}


#filters{
    padding-left : 10px;
    font-size : 80%
}

#filters div{
    display: inline;
    margin-left:5px;
    padding: 3px;
}

#header {
    border-bottom : 2px solid #191970;
    background-color: #4682b4;
    padding: 4px;
}

#footer {
    border-top : 2px solid #191970;
    background-color: #4682b4;
    width: 100%;
    padding-top:25px;
    position: fixed;
    bottom: 0px;
}
