#viewport{
    padding:5px 5px 0px 10px;
    overflow: auto;
    margin-bottom:10px;
}

.test{
    color: #83838d;
}

.runtime{
    color: rgb(128,128,128);
}

.error{
    color :red;
}

.animateable{
    cursor: pointer;
    font-weight : bold;
}

.animateable:hover{
    
}
